.projects{
    background: url("../assets/woodbgprojects.jpg");
    background-size: cover;
    /* height: 30vh; */
    color: var(--light);
    text-shadow: 3px 3px 2px var(--blackbrown);
    box-shadow: 0 4px 8px 1px black;
}
.cardbottom {
    margin-top: 20px;
    margin-bottom: 20px;
}
.card{
    border:4px solid rgb(18, 10, 6);
    border-radius: 12px;
    box-shadow: 4px 8px 4px 1px black;
}
.card-body{
    background-color: var(--blackbrown);
    font-size: .65em;
}
